@use "./../variables" as v;

// @use "sass:math";

@mixin font-base {
  font-family: v.$font-family;
  font-size: v.$f16;
  font-weight: 700;
}

@mixin font-style {
  font-size: v.$f16;
  font-weight: 700;
}

// box shadowの定義
@mixin box-shadow($x-axis: 0, $y-axis: 3px, $blur: 6px, $color: rgba(0, 0, 0, 0.16)) {
  box-shadow: $x-axis $y-axis $blur $color;
}

// borderの定義
@mixin border-style($borderColor: v.$border_color, $borderSize: 1px, $borderType: solid) {
  border: $borderColor $borderSize $borderType;
}

// background-imageについての定義
// mainVisual background-image
@mixin background-image {
  background-image: url("#{v.$background_image}");
}

@mixin background-image__second {
  background-image: url("#{v.$background_image__second}");
}

@mixin background-image__third {
  background-image: url("#{v.$background_image__third}");
}

@mixin background-image__forth {
  background-image: url("#{v.$background_image__forth}");
}

@mixin background-image__page404 {
  background-image: url("#{v.$background_image__page404}");
}

// section "contact" checkbox background-image
@mixin checkbox_image {
  position: relative;
  background-image: url("#{v.$check-box_image}");
  background-image: -webkit-image-set(
    url("#{v.$check-box_image}") 1x,
    url("#{v.$check-box_image2x}") 2x
  );
  background-image: image-set(url("#{v.$check-box_image}") 1x, url("#{v.$check-box_image2x}") 2x);
  background-position: center;
  background-size: cover;
}

// スクリーンリーダーCSS ブラウザ非表示
@mixin visually-hidden() {
  position: absolute;

  // a11y-css-resetから引用
  // https://github.com/mike-engel/a11y-css-reset
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// button
@mixin button {
  max-width: 156px;
  font-family: inherit;
  font-size: v.$f14;
  color: v.$mainColor;
  text-align: center;
  background: v.$main_gradation;
  border-radius: v.$radius_ver10;

  @include box-shadow;
}
