<section class="blog">
  <div class="wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span class="section__heading">ブログ</span>
        <span class="section__subHeading blog__subHeading">BLOG</span>
      </h2>
    </div>
    <!-- /.section__titleInner -->
    <div class="blog__inner">
      <article class="blog__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
            <div class="card__header">
              <h3 class="card__heading">イラスト制作入門講座シリーズ⑩</h3>
              <p class="card__text">使ってみようお絵描きアプリ</p>
            </div>
            <!-- /.card_header__first -->
            <div class="card__footer">
              <p class="card__timeText">
                <time class="card__time" datetime="2025-07-27">2025.07.27</time>
              </p>
            </div>
            <!-- /.card__footer -->
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.card__textInner -->
        <figure class="card__thumbnail">
          <img
            class="card__image"
            src="/assets/images/blog01.png"
            srcset="assets/images/blog01.png 1x, assets/images/blog01@2x.png 2x"
            alt="ブログ記事「イラスト制作入門講座シリーズ⑩」のアイキャッチ画像"
            width="389"
            height="260"
          />
        </figure>
      </article>
      <!-- /.blog__card -->
      <!-- card second -->
      <article class="blog__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
            <div class="card__header">
              <h3 class="card__heading">デジタル技術講座シリーズ⑤</h3>
              <p class="card__text">LINEスタンプを作ってみよう</p>
            </div>
            <!-- /.card__header_second -->
            <div class="card__footer">
              <p class="card__timeText">
                <time class="card__time" datetime="2025-07-31">2025.07.31</time>
              </p>
            </div>
            <!-- /.card__footer -->
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.card__textInner -->
        <figure class="card__thumbnail">
          <img
            class="card__image"
            src="/assets/images/blog02.png"
            srcset="assets/images/blog02.png 1x, assets/images/blog02@2x.png 2x"
            alt="ブログ記事「デジタル技術講座シリーズ⑤」のアイキャッチ画像"
            width="389"
            height="260"
          />
        </figure>
      </article>
      <!-- /.blog__card -->
      <!-- card third -->
      <article class="blog__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
            <div class="card__header">
              <h3 class="card__heading">所属クリエイターインタビュー企画②</h3>
              <p class="card__text">あの国民的人気キャラの制作秘話とは？</p>
            </div>
            <!-- /.card__header_third -->
            <div class="card__footer">
              <p class="card__timeText">
                <time class="card__time" datetime="2025-08-02">2025.08.02</time>
              </p>
            </div>
            <!-- /.card__footer -->
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.card__textInner -->
        <figure class="card__thumbnail">
          <img
            class="card__image"
            src="/assets/images/blog03.png"
            srcset="assets/images/blog03.png 1x, assets/images/blog03@2x.png 2x"
            alt="ブログ記事「所属クリエイターインタビュー企画②」のアイキャッチ画像"
            width="389"
            height="260"
          />
        </figure>
      </article>
      <!-- /.blog__card -->
    </div>
    <!-- /.blog -->
  </div>
  <!-- /.wrapper -->
</section>
