<section id="contact" class="contact">
  <div class="wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span id="formTitle" class="section__heading">お問い合わせ</span>
        <span class="section__subHeading contact__subHeading contact__subHeading_color">CONTACT</span>
      </h2>
    </div>
    <!-- /.section__titleInner -->
    <p class="contact__text">
      クリエイターのご応募、資料請求、お仕事のご依頼
      <br />
      お待ちしております。
    </p>
    <div class="js-aos" data-aos="zoom-up" data-aos-duration="3000">
      <div class="form__inner">
        <form
          class="form"
          action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScv04pfDdu6EBM48I5CAP_duO4Wu21cRrMG7OgenzrXzcI9Sw/formResponse"
          id="form"
          method="post"
          aria-label="お問い合わせ"
          autocomplete="on"
          aria-labelledby="formTitle"
        >
          <div class="form__box">
            <label class="label label__name" for="name">
              お名前
              <span class="label__required">必須</span>
            </label>
            <input
              class="input__text"
              type="text"
              name="entry.1934080880"
              id="name"
              placeholder="お名前"
              inputmode="text"
              autocorrect="off"
              autocomplete="name"
              required
            />
          </div>
          <!-- /.form__box -->
          <div class="form__box">
            <label class="label label__email" for="email">
              メールアドレス
              <span class="label__required_secondary">必須</span>
            </label>
            <input
              class="input__email"
              type="email"
              name="entry.91324961"
              id="email"
              placeholder="メールアドレス"
              spellcheck="false"
              inputmode="email"
              autocomplete="email"
              autocorrect="off"
              required
            />
          </div>
          <!-- /.form__box -->
          <div class="form__box">
            <label class="label__textarea" for="textarea">
              お問い合わせ内容
              <span class="label__required">必須</span>
            </label>
            <textarea
              class="textarea"
              name="entry.148563923"
              id="textarea"
              cols="30"
              rows="10"
              placeholder="お問い合わせ内容"
              required
            ></textarea>
          </div>
          <!-- /.form__box -->
          <div class="form__agree">
            <label class="label__checkBox" for="js-check">
              <input
                id="js-check"
                type="checkbox"
                name="entry.41485643"
                required
                value="プライバシーポリシーに同意する"
              />
              <span class="agree__text">プライバシーポリシーに同意する</span>
            </label>
          </div>
          <!-- /.form__agree -->
          <div class="button__type-c">
            <input
              id="js-submit__button"
              class="button__submit"
              type="submit"
              aria-label="送信"
              value="送信する"
              disabled
            />
          </div>
          <!-- /.button__type-b -->
        </form>
        <!-- /.form -->
      </div>
      <!-- /.form__inner -->
    </div>
    <!-- /.js-aos -->
  </div>
  <!-- /.wrapper -->
</section>
