<section id="faq" class="faq">
  <div class="wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span class="section__heading">よくある質問</span>
        <span class="section__subHeading faq_subHeading">FAQ</span>
      </h2>
    </div>
    <!-- /.ly_section__title -->
    <div class="accordion">
      <!-- faq 1 -->
      <div class="js-aos" data-aos="fade-up" data-aos-duration="2500">
        <button
          id="js-button__accordion01"
          class="js-question__button question__text"
          type="button"
          aria-expanded="true"
          aria-controls="js-accordion__content01"
        >
          <span>
            個人で活動しているのですが、なかなか案件受注できず実務経験がありません。
            <br />
            応募しても大丈夫ですか？
          </span>
        </button>
        <div id="js-accordion__content01" class="js-answer__content is_open" aria-hidden="true">
          <p class="answer__text answer__contents">
            はい。大丈夫です。知識や技術はあるのに実績ゼロ。私たちはその才能を埋もれさせません。
            <br class="answer__br" />
            案件獲得から納品まで経験あるクリエイターやスタッフが一丸となってあなたをサポートします。チーム制採用はここにもメリットがあるのです。
          </p>
        </div>
        <!-- /.js-answer__content is_open -->
      </div>
      <!-- /.js-aos -->
      <!-- faq 2 -->
      <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
        <button
          id="js-button__accordion02"
          class="js-question__button question__text_second"
          type="button"
          aria-expanded="false"
          aria-controls="js-accordion__content02"
        >
          <span>
            制作実績を見るとキャラクターデザインばかりですが、
            <br />
            キャラクター制作専門の会社なのでしょうか？
          </span>
        </button>
        <div id="js-accordion__content02" class="js-answer__content" aria-hidden="true">
          <p class="answer__text answer__contents_second">
            いいえ。おかげさまで風景画や図鑑の解説図など、さまざまなカテゴリーからご依頼を頂き、多数の制作実績があります。
            <br />
            Webサイトのデザインの都合上、お見せできないのが残念です。
          </p>
        </div>
        <!-- /.js-answer__content -->
      </div>
      <!-- /.js-aos -->
      <!-- faq 3 -->
      <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
        <button
          id="js-button__accordion03"
          class="js-question__button question__text_third"
          type="button"
          aria-expanded="false"
          aria-controls="js-accordion__content03"
        >
          <span>育児中のため在宅勤務などで働くことは可能でしょうか？</span>
        </button>
        <div id="js-accordion__content03" class="js-answer__content" aria-hidden="true">
          <p class="answer__text answer__contents_third">
            はい。もちろん大丈夫です。フルリモート、時短勤務、副業、フリーランスなど多様な働き方が可能です。女性クリエイターが6割を超えるGAURAは、育児と仕事の両立を厚く支援できる制度と環境作りを推進しています。
          </p>
        </div>
        <!-- /.js-answer__content -->
      </div>
      <!-- /.js-aos -->
    </div>
    <!-- /.accordion -->
  </div>
  <!-- /.wrapper -->
</section>
