<section id="features" class="features">
  <div class="features__wrapper">
    <div class="section__titleInner">
      <h2 class="features__title">
        GAURA
        <span class="header__logo_secondary">STUDIO</span>
        <!-- </span> -->
        <span class="section__subHeading features__subHeading">FEATURES</span>
      </h2>
    </div>
    <!-- /.section__titleInner -->
    <!-- 特徴 1 -->
    <div class="features__inner">
      <h3 class="features__header">
        躍進を続ける業界最注目の
        <br />
        クリエイター集団
      </h3>
      <div class="features__contents">
        <div class="features__imageInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <figure>
              <img
                class="features__image"
                src="/assets/images/features01.jpg"
                srcset="/assets/images/features01.jpg 1x, /assets/images/features01@2x.jpg 2x"
                alt="GAURA STUDIOの制作現場のイメージイラスト"
                width="380"
                height="314"
              />
            </figure>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__imageInner -->
        <div class="features__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2500">
            <h4 class="features__headingText">
              GAURAという社名に
              <br />
              込められた熱い思い
            </h4>
            <p class="features__text">
              <span class="firstLetter">Graphic</span>
              、
              <span class="firstLetter">Animation</span>
              、
              <span class="firstLetter">Unlimited</span>
              、
              <span class="firstLetter">Revolution</span>
              、
              <span class="firstLetter">Ability</span>
              。
              この5つの力強い言葉の頭文字からなるGAURA。イラスト制作の先駆的な存在としてグラフィックとアニメーションの技術力、無限の可能性、革命的アプローチ、そして高い能力を備えたクリエイター集団として、業界を常にリードしていく情熱と意気込みを表現しています。我々はこれらの価値観を胸に、世界に衝撃を与える作品を創造することに全力を注ぎます。
            </p>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__textInner -->
      </div>
      <!-- /.features__contents -->
    </div>
    <!-- /.features__inner -->
    <!-- 特徴 2 -->
    <div class="features__inner">
      <h3 class="features__header">デジタルとアナログの最高の共鳴</h3>
      <div class="features__contents">
        <div class="features__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2500">
            <h4 class="features__headingText">
              古典的なアプローチと
              <br class="headingText__br" />
              革新的なアイディアの融合
            </h4>
            <p class="features__text">
              イラスト制作において、デジタルアートはAI技術の進化との組み合わせによって、クリエイターの創造力を刺激し、新たなアイディアやスタイルの表現を生み出す原動力となりました。
              <br />
              一方で、多様な画材や多彩な技法で描かれ、温もりや手作業の感触が伝わるアナログアートの魅力も大切にしています。
              私たちの手と心で作品に命を吹き込むということを忘れず、個性的な作品を創り上げています。
            </p>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__textInner -->
        <div class="features__imageInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <figure>
              <img
                class="features__image"
                src="/assets/images/features02.jpg"
                srcset="/assets/images/features02.jpg 1x, /assets/images/features02@2x.jpg 2x"
                alt="繊細なタッチで描かれるイラスト制作の一コマを捉えた写真"
                width="479"
                height="329"
              />
            </figure>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__imageInner -->
      </div>
      <!-- /.features__contents -->
    </div>
    <!-- /.features__inner -->
    <!-- 特徴 3 -->
    <div class="features__inner">
      <h3 class="features__header">
        充実した制作環境が
        <br />
        クリエイターを成長へ
      </h3>
      <div class="features__contents">
        <div class="features__imageInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <figure>
              <img
                class="features__image"
                src="/assets/images/features03.jpg"
                srcset="/assets/images/features03.jpg 1x, /assets/images/features03@2x.jpg 2x"
                alt="制作チームとコミュニケーションをとるイメージ写真"
                width="400"
                height="290"
              />
            </figure>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__imageInner -->
        <div class="features__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="2500">
            <h4 class="features__headingText">制作は少人数チーム制を採用</h4>
            <p class="features__text">
              円滑なコミュニケーションはメンバー同士の緊密な意思疎通と活発な意見交換が容易となります。また、クライアントの要望にも迅速に、柔軟に対応することが可能となります。プロジェクトの進行もスムーズとなることで高いモチベーションが維持された制作環境は、よりクリエイティブで多彩なアイディアがアウトプットされた高品質な作品が生まれます。
            </p>
          </div>
          <!-- /.js-aos -->
        </div>
        <!-- /.features__textInner -->
      </div>
      <!-- /.features__contents -->
    </div>
    <!-- /.features__inner -->
  </div>
  <!-- /.features__wrapper -->
</section>
