<section class="fv">
  <div id="particles" class="page"></div>
  <!-- /.page -->
  <div class="wrapper">
    <div class="fv__inner">
      <div class="fv__textInner">
        <h2 class="fv__title">
          あなたのアートの未来を、
          <br />
          私たちと共に創造しませんか？
        </h2>
        <p class="fv__text">
          アートの新しい次元を探求するGAURAの挑戦。
          <br />
          私たちはAIをクリエイティビティのパートナーとして、
          <br />
          テクノロジーとアーティストの感性を融合させ、
          <br />
          これからも驚くべき作品を生み出します。
        </p>
        <div class="button__type-b">
          <button
            id="js-button__type-b"
            class="c-button js-button"
            type="button"
            aria-label="クリエイター募集。詳しくはこちらから"
          >
            <span class="button__text" data-text="クリエイター募集">クリエイター募集</span>
          </button>
        </div>
        <!-- /.button__type-b -->
      </div>
      <!-- /.fv__textInner -->
      <div class="fv__imageInner">
        <img
          class="fv__image"
          src="/assets/images/fv01.png"
          srcset="/assets/images/fv01.png 1x, /assets/images/fv01@2x.png 2x"
          alt=""
          width="400"
          height="300"
          decoding="async"
        />
        <img
          class="fv__image_secondary"
          src="/assets/images/fv02.png"
          srcset="/assets/images/fv02.png 1x, /assets/images/fv02@2x.png 2x"
          alt=""
          width="300"
          height="200"
          decoding="async"
        />
      </div>
      <!-- /.fv__imageInner -->
    </div>
    <!-- /.fv__inner -->
  </div>
  <!-- /.ly_mainVisual__wrapper -->
</section>
