<section class="works">
  <div class="works__wrapper">
    <div class="section__titleInner">
      <h2 class="works__title">
        <span class="section__heading">制作実績</span>
        <span class="section__subHeading works__subHeading">WORKS</span>
      </h2>
    </div>
    <!-- /.section__titleInner -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- works 1 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                TVアニメ
                <br />
                転生したら空が飛べるようになった件
                <br />
                アニメ作画制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works01.jpg"
                srcset="assets/images/works01.jpg 1x, assets/images/works01@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：アニメーション制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 2 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                和装・着物デザイン会社
                <br />
                南袖
                <br />
                Webサイトデザイン制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works02.jpg"
                srcset="assets/images/works02.jpg 1x, assets/images/works02@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：Webデザイナーチーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 3 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                ファーストフードチェーン
                <br />
                Burger Queen
                <br />
                TVCMイラスト制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works03.jpg"
                srcset="assets/images/works03.jpg 1x, assets/images/works03@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：アニメーション制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 4 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                RPGゲーム
                <br />
                Night In Gales
                <br />
                キャラクターデザイン制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works04.jpg"
                srcset="assets/images/works04.jpg 1x, assets/images/works04@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：ゲームデザイナーチーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 5 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                シンガーソングライター
                <br />
                doa
                <br />
                アルバムCDイラスト制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works05.jpg"
                srcset="assets/images/works05.jpg 1x, assets/images/works05@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：イラスト制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 6 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                Webマンガ
                <br />
                悪役令嬢は聖騎士に恋をする
                <br />
                マンガ作画制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works06.jpg"
                srcset="assets/images/works06.jpg 1x, assets/images/works06@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：Webマンガ制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 7 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                短編アニメーション映画
                <br />
                スイカとメロンと僕
                <br />
                アニメ作画制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works07.jpg"
                srcset="assets/images/works07.jpg 1x, assets/images/works07@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：アニメーション制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->

          <!-- works 8 -->
        </div>
        <!-- /.swiper-slide -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                専門学校
                <br />
                千葉ミュージックスクール
                <br />
                入学生募集ポスター制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works08.jpg"
                srcset="assets/images/works08.jpg 1x, assets/images/works08@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：イラスト制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 9 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                子供衣服・玩具デザイン会社
                <br />
                YuriMachi
                <br />
                冬季商品LP制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works09.jpg"
                srcset="assets/images/works09.jpg 1x, assets/images/works09@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：Webデザイナーチーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->

        <!-- works 10 -->
        <div class="swiper-slide">
          <article class="slide">
            <div class="swiper-slide_textHeader">
              <h3 class="swiper-slide_heading">
                ペットフード販売会社
                <br />
                ならわペットフード
                <br />
                販促イメージキャラクター制作
              </h3>
            </div>
            <!-- /.swiper-slide_textHeader -->
            <figure class="swiper-slide_image">
              <img
                class="works__image"
                src="/assets/images/works10.jpg"
                srcset="assets/images/works10.jpg 1x, assets/images/works10@2x.jpg 2x"
                alt=""
                width="322"
                height="210"
              />
            </figure>
            <div class="swiper-slide_textFooter">
              <p class="swiper-slide_text">担当：イラスト制作チーム</p>
            </div>
            <!-- /.swiper-slide_textFooter -->
          </article>
          <!-- /.slide -->
        </div>
        <!-- /.swiper-slide -->
      </div>
      <!-- /.swiper-wrapper -->
      <!-- <div class="swiper-button-prev"></div> -->
      <!-- /.swiper-button-prev -->
      <!-- <div class="swiper-button-next"></div> -->
      <!-- /.swiper-button-next -->
    </div>
    <!-- /.swiper -->
  </div>
  <!-- /.ly_works__wrapper -->
</section>
